* {
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  
  .Header {
    margin: auto;
    width: 90%;
  }
  
  .Toggle-btn {
    background-color: white;
    border: #b6a1a1 1px solid;
    border-radius: 10px;
    margin: 30px 0 20px 0;
    padding: 10px;
  }
  
  .first-line {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .first-line {
      justify-content: center;
    }
  }
  
  .first-line svg {
    height: 24px;
    width: 24px;
    margin: 5px;
    padding: 10px;
    transition: fill 0.2s, stroke 0.2s;
  }
  
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .contact svg:hover {
    background-color: #29c6c6;
    fill: white;
    border-radius: 30%;
    transition: background-color 0.4s;
  }
  
  .cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .cart .heart:hover {
    stroke: #ff1493;
  }
  
  .cart .cart-icon:hover {
    fill: #32cd32;
    stroke: #32cd32;
  }
  
  .cart .member:hover {
    fill: #4169e1;
    stroke: #4169e1;
  }
  
  .title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-align: center;
    letter-spacing: 5px;
    line-height: 40px;
    width: 100%;
    margin: 20px 0;
  }
  
  .title1 {
    font-size: 2rem;
  }
  
  .title a {
    text-decoration: none;
    color: #000;
  }
  
  .title2 {
    font-size: 0.7rem;
  }
  
  .title-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;
  }
  
  .title-search input {
    border: #b6a1a1 1px solid;
    border-radius: 5px;
    padding: 10px;
  }
  
  .Header hr {
    width: 80%;
    opacity: 10%;
    margin: auto;
  }
  
  nav {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  nav a:hover {
    color: #29c6c6;
    transition: color 0.15s;
  }
  
  /* Home */
  
  .Home {
    font-family: "Montserrat", sans-serif;
  }
  
  .shop {
    position: relative;
  }
  
  .plage-img {
    width: 100%;
    height: 60vh;
    padding: 0;
    position: relative;
  }
  
  .shop-p-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  @media (max-width: 768px) {
    .shop-p-btn {
      align-items: start;
    }
  }
  
  .shop-p-btn p {
    color: white;
    font-size: larger;
    letter-spacing: 5px;
    font-weight: 600;
  }
  
  .shop-p-btn button {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    letter-spacing: 3px;
    font-weight: 300;
    cursor: pointer;
  }
  
  .shop-p-btn button:hover {
    opacity: 80%;
  }
  
  .Home hr {
    width: 80%;
    opacity: 10%;
    margin: auto;
  }
  
  /* Carousel */
  
  .carousel-title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 2rem;
    padding: 30px;
  }
  
  .carousel-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 40px;
  }
  
  .big-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .Carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22vw;
  }
  
  @media (max-width: 768px) {
    .Carousel {
      width: 80vw;
    }
  }
  
  .img-container {
    height: auto;
    width: 100%;
    position: relative;
  }
  
  .img-container img {
    height: 100%;
    width: 100%;
  }
  
  .previous-button {
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: large;
    border: none;
    border-radius: 30%;
    padding: 5px;
    color: #000;
  }
  
  .next-button {
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: large;
    border: none;
    border-radius: 30%;
    padding: 5px;
    color: #000;
  }
  
  .next-button:hover,
  .previous-button:hover {
    background-color: rgb(255, 255, 255);
  }
  
  /* Categories */
  
  .categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
  }
  
  @media (max-width: 768px) {
    .categories {
      flex-direction: column;
    }
  }
  
  .category {
    position: relative;
    width: 33%;
    height: 100%;
    border: none;
  }
  
  @media (max-width: 768px) {
    .category {
      width: 100%;
      height: 33%;
    }
  }
  
  .category img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  @keyframes grow {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }
  
  .category:hover .sub-category {
    animation: grow 0.3s ease forwards;
  }
  
  .sub-category {
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
  }

  .sub-category p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 15px ;
  }

  @media(max-width : 768px){
    .sub-category p{
        padding-bottom: 3px;
      }
  }
  
  .shop-button {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    letter-spacing: 3px;
    font-weight: 300;
    cursor: pointer;
  }

  /* Testimonies */

  .testimonies{
    width: 100%;
    height: 40vh;
    background-color: #efe8e1;
    margin: 20px 0;
    font-family: "Montserrat", sans-serif;
  }

  .testimonies-container{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .testimonies-elements{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .testimonie-name{
    font-style: italic;
  } 

  @media(max-width : 768px){
    .testimonies{
        height: 60vh;
    }
  }

  /* Values */

  .values{
    width: 70%;
    height: 35vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
  }

  .values svg{
    width: 50px;
    height: 50px;
    padding: 20px;
  }

  @media(max-width : 768px){

    .values{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
  }
  
  /* About */
  
  .about {
    height: 50vh;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: #e5f5fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .about-p{
    width: 50%;
    line-height: 1.5;
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  @media(max-width : 768px){
    .about {
        height: 80vh;
    }
  }
  
  
  /* New-arrivals */

  .hr-links{
    width: 80%;
    opacity: 10%;
    margin: auto;
  }

  .New-arrivals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .New-arrivals h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
  }

  .new-arrivals-container{
    width: 90%;
    height: auto;
    margin: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  @media (max-width :768px) {
    .new-arrivals-container{
      grid-template-columns: repeat(2,  1fr);
    }
  }

  .filters-btn{
    background-color: white;
    border: none;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }

  .filters-btn:hover{
    cursor: pointer;
    color: #29c6c6;
    fill: #29c6c6;
  }

  .filters-btn svg{
      height: 24px;
      width: 24px;   
  }

  .filters{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .filters-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .filters-form select, input{
    padding: 10px;
  }

  .filters-form button{
    width: 120px;
    height: 40px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
  }

  .filters-form button:hover{
    background-color:#29c6c6;
    color: white;
  }

  /* Card */

  .Card{
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
  }

  .card-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .price-name p{
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif; ;
  }

  .Card .heart:hover {
    fill: red;
    stroke: none;
    transition: fill 0.4s ease-in-out;
  }

  /* Footer */
  
  .Footer {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  @media(max-width : 768px){
    .Footer {
      display: grid;
      grid-template-columns: none;
      grid-template-rows: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }
  
  .hr-home {
    width: 80vw;
    margin: 70px auto;
    opacity: 30%;
  }
  
  .Footer svg {
    height: 24px;
    width: 24px;
    margin: 5px;
    padding: 10px;
    transition: fill 0.2s, stroke 0.2s;
  }

  .Footer svg:hover{
    fill: #29c6c6;
  }
  
  .join{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 30px;
  }

  @media(max-width : 768px){
    .join{
      align-items: center;
      margin-left:0%;
      text-align: center;
    }
  }

  .join button{
    width: 120px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border : none;
    border-radius: 5px;
  }

  .join button:hover{
    background-color: #29c6c6;
    transition: background-color 0.2s;
  }

  .networks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }



  .contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
